{% extends 'core/base.html' %} {% load static %} {% block Tittle%} Agregar Productos {%endblock%} {% block content%} {% load static %}
<div class="jumbotron jumbotron-fluid text-muted" id="jumbotron">
    <div class="container">
        <h1 class="jumbotron-text">Agregar Productos</h1>
        <p class="jumbotron-text">Acá puedes agregar las descripciones de los productos o eliminarlos.</p>
    </div>
</div>

<div class="container mt-4">
    <div class="row-12">
        {% if 'OK' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Felicitaciones!!! </strong>Producto registrado satisfactoriamente
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
        </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups!!! </strong>En estos momentos no podemos atender su solicitud... inténtalo más tarde
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
        </div>
        {% endif %}
        <form action="" method="POST" id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="nombreProducto" class="font-weight-bold">Nombre Producto *</label>
                <div class="input-group">
                    {{form.nombreProducto}}
                </div>
                {{form.nombreProducto.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="marca" class="font-weight-bold">Marca *</label>
                <div class="input-group">
                    {{form.marca}}
                </div>
                {{form.marca.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="stock" class="font-weight-bold">Stock *</label>
                <div class="input-group">
                    {{form.stock}}
                </div>
                {{form.stock.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="precio" class="font-weight-bold">Valor *</label>
                <div class="input-group">
                    {{form.precio}}
                </div>
                {{form.precio.errors}}
            </div>
            <div class="form-group mb-3">
                <label for="descripcion" class="font-weight-bold">Descripcion *</label>
                <div class="input-group">
                    {{form.descripcion}}
                </div>
                {{form.descripcion.errors}}
            </div>

            <div class="form-group mb-3">
                <label for="image" class="font-weight-bold">Imagen *</label>
                <div class="input-group">
                    {{form.image}}
                </div>
                 {{form.image.errors}}
            </div>
            <div class="text-center mt-4">
                <input class="btn btn-indigo" type="submit" value="Guardar">
                <a class="btn btn-secondary font-weight-bold" href="{% url 'productos' %}">Volver</a>
            </div>
        </form>
    </div>

</div>

{% endblock %} {% block script%}
<script src="{% static  'core/js/js_api.js' %}"></script>
{%endblock%}