{% extends 'core/base.html' %} {% load static %} {% block Tittle%} Agregar Productos {%endblock%} {% block content%} {% load static %}
<div class="jumbotron jumbotron-fluid text-muted" id="jumbotron">
    <div class="container">
        <h1 class="jumbotron-text">Modificar Productos</h1>
        <p class="jumbotron-text">Acá puedes modificar las descripciones de los productos o eliminarlos.</p>
    </div>
</div>

{% if 'OK' in request.GET %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Felicitaciones!!! </strong>Producto Actualzado satisfactoriamente
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
</div>
{% endif %} {% if 'DOK' in request.GET %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Felicitaciones!!! </strong>Producto ELIMINADO satisfactoriamente
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
</div>
{% endif %}

<div class="container justify-content-center">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-indigo txt-indigo">
                        <th>Id Producto</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in listaProductos %}
                    <tr>
                        <td>{{p.idProducto}}</td>
                        <td>{{p.nombreProducto}}</td>
                        <td>{{p.marca}}</td>
                        <td>{{p.stock}}</td>
                        <td>${{p.precio}}</td>
                        <td>{{p.descripcion}}</td>
                        <td><img src="{{p.image}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" width="80px" height="80px"> </td>
                        <td><a class="btn btn-indigo" href="{% url 'editarProductos' p.idProducto %}">Modificar</a>
                            <a class="btn btn-indigo-d font-weight-bold" href="{% url 'deleteProductos' p.idProducto %}">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</div>


{%endblock%}